@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}

<h1>About Me</h1>
<ul>
<p>Student Name: Felipe da Rocha Vieira Mattos</p>
<p>Student Number: 101581203</p>
<p>Course Code: COMP2139</p>
<p>Course Section: 2:00PM</p>
</ul>